基于JAVA技术的《毕业答辩管理系统》， 数据库是MYSQL 。主要功能如下描述：

背景知识：本系统是为本科学生完成毕业考核之后，进行答辩评分所使用的系统。毕业考核分为毕业论文和毕业设计2种类型。
一、提供超级管理员、院系管理员、答辩组长和教师4级权限。这些角色在登录后都可以修改密码。超级管理员的用户名为admin，密码是123456，可以修改密码。超级管理员可以创建院系和院系管理员，需要给院系管理员设置登录用户名和密码。答辩组长也是教师身份，使用教师编号登录，如果某个教师在某个年份被授予答辩组长身份，他将拥有其它一些功能，参见下面的第四点。
二、超级管理员可以对所有数据进行增删查改，可以增加院系管理员。
(1)超级管理员可以填写”本科毕业论文答辩成绩表“的3个评价指标（论文质量、答辩的自述报告、回答问题的情况）的具体内容和对应的评分权值。
(2)超级管理员可以填写”本科毕业设计答辩成绩表“的6个评价指标（设计质量1、设计质量2、设计质量3、答辩的自述报告成绩、回答问题的情况）的具体内容和对应的评分权值。
(3)超级管理员可以设置答辩年份，以方便其它用户在登录时选择，因为每个答辩年份的学生数据和答辩数据是不一样的。
(4)超级管理员可以上传
《本科毕业设计答辩成绩表》、《本科毕业设计成绩评定表》、《本科毕业论文答辩成绩表》、《本科毕业论文成绩评定表》、《毕业论文(设计)答辩小组统分表》、《毕业论文答辩成绩无评语过程表》和《毕业设计答辩成绩无评语过程表》这些文档的模板word文档。因为这些文档都需要系统填入相关内容然后提供导出功能。 这些模板文档需要填写的占位符内容参见第十一条。
（5）超级管理员可以设置 答辩成绩表的年、月、日。 设置成绩评定表的年、月、日。

三、院系管理员可以管理自己系的学生和教师。可以管理教师（包含导入学生数据和教师数据）。
   院系管理员有答辩分组功能，可以把学生分配到不同的答辩小组，可以指定某个教师为某个小组的组长，每个答辩教师只能参加一个答辩小组。
   院系管理员可以上传系主任签名图片。
	每个学生只能属于一个院系。每个教师也只能从属于一个院系。 

四、答辩组长可以为本小组内的每个学生生成答辩成绩表里的“答辩小组评语”，生成评语是根据”提示词模板“、学生的摘要并且调用大模型的API生成的，生成的评语不满意可以直接修改。答辩组长可以逐份导出每个学生的答辩成绩表的word文档，也可以一键打包下载本组所有学生的答辩成绩表，答辩成绩表分为《本科毕业论文答辩成绩表》和《本科毕业设计答辩成绩表》2种。
   答辩组长可以看到本组内每个教师给每个学生的打分情况，并且可以导出《答辩小组统分表》。答辩小组统分表的每一行有答辩人姓名、评委1-评委5的成绩，答辩得分、调节系统和最后得分。
   答辩组长可以查看和导出组内每个学生的成绩评定表，成绩评定表分为《本科毕业论文成绩评定表》或《本科毕业设计成绩评定表》2种。成绩评定表里有3个小项成绩，分别是指导教师评定成绩、评阅人评定成绩和答辩成绩。这里的答辩成绩是最终的答辩成绩，最终的答辩成绩具体计算参见第六点。 成绩评定表里的总评成绩是 指导教师评定成绩乘以30%、评阅人评定成绩乘30%和答辩成绩乘40%的累加之和，精度取小数点后1位。

五、教师功能：
   一个教师可以指导多名学生，或者说一个教师可以带多个学生。教师需要上传自己的手定签名照片。教师可以填写自己所指导的学生的毕业答辩题目和摘要，可以对自己带学生的成绩进行评阅和打分。教师可以从自己所在系中的教师中选择自己带的学生的评阅人（其它教师）。教师可以是其它学生的评阅人。
    教师可以在线填写答辩成绩，对参加本小组答辩的学生进行打分。如果是论文类型，需要填写论文质量成绩、答辩的自述报告成绩、回答问题的情况成绩这3项成绩，系统自动累加这3项算出总分。 如果毕业考核的类型是“设计”，那么答辩成绩表要填写6项成绩，分别是设计质量分项1、设计质量分项2、设计质量分项3、答辩的自述报告、回答问题情况分项1、回答问题情况分项2。上述6项评分权值分别是0.15、0.15、0.15、0.25、0.15、0.15、0.15。教师可以填写只填写一个总分，点击一个按钮自动生成各个小项的成绩，各个小项的成绩要满足约束(例如第1个小项成绩不能超过15分，各个小项成绩加起来不能超过填写的总分，各个小项的成绩可以按总分等比例缩放，然后再微调使得总分一致)。答辩成绩都是整数。

    教师可以给本答辩小组的每个学生进行打分。打分结果可以导出“答辩成绩无评语过程表” 。 “答辩成绩无评语过程表“根据论文和设计分为《毕业论文答辩成绩无评语过程表》和《毕业设计答辩成绩无评语过程表》，也可以一键打包下载评分过的所有本组学生的。
   每个教师有大组答辩评分功能，每个小组的第一名自动进入大组答辩， 每个教师都可以给他们打一个总评成绩（满分100分）。
   教师可以查看和导出自己所带的每个学生的成绩评定表。这里要注意，教师可以带多个学生，但是带的学生不一定在教师的答辩小组。
六、大组答辩：
（1）每个小组的第一名要参加大组答辩，所以大组答辩的成绩除以小组答辩的成绩产生一个调节系数（精度为小数点后3位），这个调节系数乘上所有同学的在小组内答辩成绩为最终的答辩成绩。最终的答辩成绩取小数点后1位，这个成绩需要写入到每个学生的《答辩成绩表》中。
（2）每一年份，都要为每位教师填写大组答辩成绩的界面，并且存入数据库。只需要总分就可以，不需要像小组答辩那样填写分项。
（3）组长可以导出本小组的 《毕业论文(设计)答辩小组统分表》，包含答辩人姓名、每个评委打分、答辩得分、调节系统和最后得分。
（4）组长可以看到大组答辩后算出来的调节系数。

七、答辩成绩表的生成功能：
      每位学生都有《答辩成绩表》，答辩成绩表根据毕业考核类型分为《本科毕业论文答辩成绩表》和《本科毕业设计答辩成绩表》2种。 答辩成绩表里面的小项成绩是取该小组每个老师打分的平均值再乘以调节系数， 合计成绩是小组内每个老师打分的平均值再乘以调节系数。这2个文档的模板参见第十一条。 	
八、教师可以填写自己所带（指导）的学生的指导教师评定成绩，也就是说学生有导师成绩这一属性（整数类型）。
九、教师可以填写自己所带（指导）的学生的评阅人评定成绩，也就是说学生有评阅人成绩这一属性（整数类型）。

十、 超级管理员可以配置QWEN大语言模型的APIKEY、本科毕业论文答辩成绩表答辩小组评语的提示词模板、本科毕业设计答辩成绩表答辩小组评语的提示词模板。
十一、模板文档：
 《毕业设计答辩成绩无评语过程表》模板留白的地方有学生姓名、学号、年、月、日、题目、设计质量分项1成绩、设计质量分项2成绩、设计质量分项3成绩、答辩的自述报告成绩、回答问题情况分项1成绩、回答问题情况分项2成绩、合计成绩、评委签名（图片），这些地方需要结合占位符号，在适当的位置插入相应的数据。以方便导出WORD文档。
《本科毕业设计答辩成绩表》模板留白的地方有学生姓名、学号、年、月、日、题目、设计质量分项1成绩、设计质量分项2成绩、设计质量分项3成绩、答辩的自述报告成绩、回答问题情况分项1成绩、回答问题情况分项2成绩、合计成绩、评委签名（图片），这些地方需要系统在适当的位置插入相应的数据。以方便导出WORD文档。
《本科毕业设计成绩评定表》模板留白的地方有学生姓名、学号、年、月、日、题目、 指导老师评定成绩、评阅人评定成绩、答辩成绩、 指导老师评定成绩乘0.3的计算结果、评阅人评定成绩乘0.3的计算结果、答辩成绩乘0.4的计算结果、总成绩和系主任签名（图片）。

  《毕业论文答辩成绩无评语过程表》模板留白的地方有学生姓名、学号、年、月、日、题目、论文质量成绩、答辩的自述报告成绩、回答问题的情况成绩、合计成绩、评委签名（图片），这些地方需要系统在适当的位置插入相应的数据。以方便导出WORD文档。

《本科毕业论文答辩成绩表》根据模板的空白，需要填写的内容有姓名、学号、年、月、日、题目、论文质量成绩、答辩的自述报告成绩、回答问题的情况成绩、合计成绩、答辩小组评语、答辩小组组长签名（图片），这些地方需要系统在适当的位置插入相应的数据。以方便导出WORD文档。
《本科毕业论文成绩评定表》模板留白的地方有姓名、学号、年、月、日、题目、 指导老师评定成绩、评阅人评定成绩、答辩成绩、 指导老师评定成绩乘0.3的计算结果、评阅人评定成绩乘0.3的计算结果、答辩成绩乘0.4的计算结果、总成绩和系主任签名（图片）。

 以上这些WORD模板可以上传到系统，如果需要在空白模板上做占位符也请你告诉我怎么做。

其它要点：
（1）毕业答辩每年都要进行，所以还要对年份进行处理，例如，登录之后选择2025年答辩。
（2） 每一篇论文有一个指导教师和一个论文评阅教师。学生相关的信息有学号、姓名、班级、指导教师、学生联系电话、学生邮箱、毕业考核类型（论文或设计）、毕业考核题目、毕业考核摘要、学生所在答辩小组、答辩日期、答辩年份等。如果不够，你可以补全。
（3）所有生成评语的地方都要调用大模型结合系统内置的提示词来生成。
（4）系主任和所有教师的签名是通过图片上传的。
(5)所有在线填写的成绩，提供填写总分生成各个小项分数的功能。例如，填写总分，然后点击一个按钮自动生成各个小项的成绩，各个小项的成绩要满足约束（即各个小项累加之和等于总分，并且不超过权值*100）。

25年12月19日补充说明：
（1）关于小组归档文档，每个小组一份：

但是在这其中，答辩记录表是每个学生一份，由指导教师提交到系统（或者填写答辩内容，系统生成这个表）
每生一份的《模板》文档：

分别是毕业论文和毕业设计所需要的材料。
在本系统中，《模板》中开题报告，任务书、中期检查表这类没有成绩的表是不需要生成的。从《指导教师评阅表》开始的与成绩有关的表才需要在本系统中生成。
其它注意事项
由院系管理员设置本系统当时答辩年份（答辩期），如”2025年夏答辩季“。
超级管理员可以添加院系。
院系管理员是单独的账号，而答辩组长就是老师账号。
除了最后一张《成绩评定表》中的成绩（每项成绩都是带1位小数），其它成绩都是整数。

 
